/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  font-family: Arial, sans-serif;
}

.splash-container {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .splash-container {
      padding: 15px;
  }

  h1 {
      font-size: 1.5em;
  }

  p {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  .splash-container {
      padding: 10px;
  }

  h1 {
      font-size: 1.2em;
  }

  p {
      font-size: 0.9em;
  }

  input {
      padding: 8px;
      font-size: 0.9em;
  }

  button {
      padding: 8px;
      font-size: 0.9em;
  }
}
